TFSeventServices/TFSEventServicesTester/Web References/WorkItemChangeEndpoint/WorkItemChangedEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Notification/03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.conchango.com/TeamFoundation/2005/06/Services/Notification/Extensibility" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.conchango.com/TeamFoundation/2005/06/Services/Notification/Extensibility" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Notification/03">
      <s:element name="Notify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eventXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tfsIdentityXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.conchango.com/TeamFoundation/2005/06/Services/Notification/Extensibility">
      <s:element name="NotifyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifySoapIn">
    <wsdl:part name="parameters" element="s0:Notify" />
  </wsdl:message>
  <wsdl:message name="NotifySoapOut">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:portType name="WorkItemChangedEndpointSoap">
    <wsdl:operation name="Notify">
      <wsdl:input message="tns:NotifySoapIn" />
      <wsdl:output message="tns:NotifySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkItemChangedEndpointSoap" type="tns:WorkItemChangedEndpointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Notify">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Notification/03/Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkItemChangedEndpointSoap12" type="tns:WorkItemChangedEndpointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Notify">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Notification/03/Notify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkItemChangedEndpoint">
    <wsdl:port name="WorkItemChangedEndpointSoap" binding="tns:WorkItemChangedEndpointSoap">
      <soap:address location="http://localhost:88/WorkItemChangedEndpoint.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkItemChangedEndpointSoap12" binding="tns:WorkItemChangedEndpointSoap12">
      <soap12:address location="http://localhost:88/WorkItemChangedEndpoint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>